<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>picture</title>
    <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
</head>

<body>

<form>
    <input id="stashFilestackURL" name="stashFilestackURL" value="replaceme" th:field="*{img}" type="hidden">

    <label for="upload"></label>
    <button type="button" id="upload" name="upload">Upload an image</button>
</form>


</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var filestackapi = [[${filestackapi}]];
    console.log(filestackapi);
    /*]]>*/
</script>
<script>   $("#upload").click(function () {
    client.picker().open()
});</script>
</html>