<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:replace="partials/header :: header-links"></head>
<body style="text-align: center">

<div sec:authorize="!isAuthenticated()">
    <!--    This content is only shown to UNAUTHENTICATED users.-->
    <nav th:replace="partials/navbar :: navbar"></nav>
</div>

<div sec:authorize="isAuthenticated()">
    <!--    This content is only shown to AUTHENTICATED users.-->
    <nav th:replace="partials/navbar-logged-in :: navbar-logged-in"></nav>
</div>

<h1>Edit your Comment</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <form th:action="@{/comments/{id}/edit(id=${comment.id})}" method="POST" th:object="${comment}">

                <div class="form-group">
                    <label for="comment-content">Comment Content:</label>
                    <textarea th:field="*{comment_content}" id="comment-content" name="comment-content" class="form-control text-center" rows="5"></textarea>
                </div>

                <div class="form-group">
                    <input type="submit" value="Edit Comment" class="btn btn-primary"/>
                </div>
            </form>

            <form th:action="@{|/comment/${comment.id}/delete|}" th:method="POST">
                <input type="submit" value="Delete Comment" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>

<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>