<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:replace="partials/header :: header-links"></head>
<body style="text-align: center">

<div sec:authorize="!isAuthenticated()">
    <!--    This content is only shown to UNAUTHENTICATED users.-->
    <nav th:replace="partials/navbar :: navbar"></nav>
</div>

<div sec:authorize="isAuthenticated()">
    <!--    This content is only shown to AUTHENTICATED users.-->
    <nav th:replace="partials/navbar-logged-in :: navbar-logged-in"></nav>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <form th:action="@{/party/{id}/edit(id=${party.id})}" method="POST" th:object="${party}">

                <div class="form-group">
                    <label for="title">Party Name</label>
                    <input th:field="*{name}" id="title" name="title" type="text" class="form-control text-center" />
                </div>

                <div class="form-group">
                    <label for="description">Party Description</label>
                    <textarea th:field="*{description}" id="description" name="description" class="form-control text-center" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Edit Party" class="btn btn-primary"/>
                </div>
            </form>

            <form th:action="@{|/party/${party.id}/delete|}" th:method="POST">
                <input type="submit" value="Delete Party" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>

<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>