<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/homePage.css}">
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Righteous&display=swap" rel="stylesheet">

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.2/mapbox-gl.css' rel='stylesheet' />

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvkLTs_JIK818BW-_QWPtOTUFjOPJj1L8&libraries=places"></script>
    <title>Home</title>
</head>
<body>
<div sec:authorize="!isAuthenticated()">
    <!--    This content is only shown to UNAUTHENTICATED users.-->
    <nav th:replace="partials/navbar :: navbar"></nav>
</div>

<div sec:authorize="isAuthenticated()">
    <!--    This content is only shown to AUTHENTICATED users.-->
    <nav th:replace="partials/navbar-logged-in :: navbar-logged-in"></nav>
</div>

<div class="container">
    <div class="container">
        <div id='map' style='width: 400px; height: 300px;'></div>
        <ul>
            <li><label >Enter a location(City,State,Stadium,Theatre,etc.)Or keywords(Performers, Teams, etc.)</label>
                <input type="text" id="search" placeholder="Search"></li>
            <li><label type="text">Choose type of Event</label>

                <select id="type">
                    <option value="">All</option>
                    <option value="Concert">Concert</option>
                    <option value="mls">MLS</option>
                    <option value="Sports">Sports</option>
                    <option value="Comedy">Comedy</option>
                    <option value="theater">Theater</option>
                    <option value="family">Family</option>
                    <option value="broadway_tickets_national">Boadway</option>
                    <option value="dance_performance_tour">Dance Preformance</option>
                    <option value="music_festival">Music Festival</option>
                    <option value="minor_league_baseball">Minor League Baseball</option>
                    <option value="soccer">Soccer</option>
                    <option value="football">Football</option>
                </select></li>
            <li><label>Enter a radius for the search</label>
                <input type="number" id="radius" placeholder="Radius in miles">

                <button id="search-btn"class="btn">Search</button></li>
        </ul>
        </form>
    </div>
    <div class="break"><br></div>

    <div>
        <div class="eventsContainer">
            <ul>
                <li><label class="hidden">Sort By Popularity</label>
                    <button id="upvote"class="btn hidden">⬆</button>
                    <button id="downvote" class="btn hidden">⬇</button></li>
                <h5 class="popMeaning hidden">Popularity is on a scale of 0-1</h5>
                <p class="total" id="total"></p>
                <p class="pages" id="pages"></p>
            </ul>
            <h1 class="eventTitle" id="eventTitle">
                <h2 class="eventDate" id="eventDate"></h2>
                <h2 class="popularity" id="popularity"></h2>
            </h1>
        </div>
    </div>
</div>







<script type="text/javascript" th:src="@{/js/clientid.js}"></script>
<script type="text/javascript" th:src="@{/js/homepage.js}"></script>

</body>
</html>
<!--<script>-->



<!--    function getLocation() {-->
<!--        if (navigator.geolocation) {-->
<!--            navigator.geolocation.getCurrentPosition(showPosition);-->
<!--        } else {-->
<!--            console.log("Geolocation is not supported by this browser.");-->
<!--        }-->
<!--    }-->

<!--    function showPosition(position) {-->

<!--        var lat = position.coords.latitude;-->
<!--        var long = position.coords.longitude;-->

<!--        mapboxgl.accessToken = 'pk.eyJ1Ijoia2VhdG9uaHV0dG8iLCJhIjoiY2wycWw3cWRnMDFwOTNqcGFwbDhqZTh6aCJ9.JA4KRbfaB02VWnaD8Ecs7g';-->
<!--        const coordinates = document.getElementById('coordinates');-->
<!--        const map = new mapboxgl.Map({-->
<!--            container: 'map',-->
<!--            style: 'mapbox://styles/mapbox/streets-v11',-->
<!--            center: [long, lat],-->
<!--            zoom: 8-->
<!--        });-->

<!--        const marker = new mapboxgl.Marker({-->
<!--            draggable: true-->
<!--        })-->
<!--            .setLngLat([long, lat])-->
<!--            .addTo(map);-->

<!--        function onDragEnd() {-->
<!--            const lngLat = marker.getLngLat();-->
<!--            let lat = lngLat.lat;-->
<!--            let lng = lngLat.lng;-->
<!--            let type = document.getElementById('type').value;-->
<!--            let pages = document.getElementById('pages');-->
<!--            downvote.addEventListener('click', function() {-->
<!--                fetch(`https://api.seatgeek.com/2/events?lat=${lat}&lon=${lng}&type=${type}&client_id=${clientId}`)-->
<!--                    .then(response => response.json())-->
<!--                    .then(data => {-->

<!--                        var events ='';-->
<!--                        total = document.getElementById('total');-->
<!--                        total.innerHTML = `<h1>Total Events ${data.meta.total}</h1>`-->
<!--                        for(var i = 0; i < data.events.length; i++) {-->
<!--                            const date = new Date(data.events[i].datetime_local);-->
<!--                            const [year, month, day] = [date.getFullYear(), date.getMonth() + 1, date.getDate()];-->
<!--                            const dateString = 'm/d/year'+" "+`${month}/${day}/${year}`;-->
<!--                            events += `<h1 class='loopEvent'>${data.events[i].title}`+" "+`${data.events[i].venue.name}`+" "+`${data.events[i].venue.display_location}`+" Date: "+dateString+" Popularity "+ `${data.events[i].popularity}`+`<a href="#">Click</a></h1>`-->
<!--                        }-->
<!--                        for(var i = 0; i < 1; i++) {-->
<!--                            if(data.meta.total>=11){-->
<!--                                pages = document.getElementById('pages');-->
<!--                                let pagesCount = Math.ceil(data.meta.total/10);-->
<!--                                console.log(pagesCount);-->
<!--                                for(let i = 0; i < pagesCount; i++){-->
<!--                                    pages.innerHTML += `<a href="#" onclick="page(${i})">`+" "+`${i+1}</a>`-->
<!--                                }-->
<!--                            }-->
<!--                            document.getElementById("eventTitle").innerHTML = events-->
<!--                        }})-->
<!--                    .catch(error => console.log(error));-->
<!--            });-->
<!--            upvote.addEventListener('click', function() {-->
<!--                fetch(`https://api.seatgeek.com/2/events?lat=${lat}&lon=${lng}&type=${type}&client_id=${clientId}`)-->
<!--                    .then(response => response.json())-->
<!--                    .then(data => {-->

<!--                        var events ='';-->
<!--                        total = document.getElementById('total');-->
<!--                        total.innerHTML = `<h1>Total Events ${data.meta.total}</h1>`-->
<!--                        for(var i = 0; i < data.events.length; i++) {-->
<!--                            const date = new Date(data.events[i].datetime_local);-->
<!--                            const [year, month, day] = [date.getFullYear(), date.getMonth() + 1, date.getDate()];-->
<!--                            const dateString = 'm/d/year'+" "+`${month}/${day}/${year}`;-->
<!--                            events += `<h1 class='loopEvent'>${data.events[i].title}`+" "+`${data.events[i].venue.name}`+" "+`${data.events[i].venue.display_location}`+" Date: "+dateString+" Popularity "+ `${data.events[i].popularity}`+`<a href="#">Click</a></h1>`-->

<!--                        }-->
<!--                        for(var i = 0; i < 1; i++) {-->
<!--                            if(data.meta.total>=11){-->
<!--                                pages = document.getElementById('pages');-->
<!--                                let pagesCount = Math.ceil(data.meta.total/10);-->
<!--                                console.log(pagesCount);-->
<!--                                for(let i = 0; i < pagesCount; i++){-->
<!--                                    pages.innerHTML += `<a href="#" onclick="page(${i})">`+" "+`${i+1}</a>`-->
<!--                                }-->
<!--                            }-->
<!--                            document.getElementById("eventTitle").innerHTML = events-->
<!--                        }})-->
<!--                    .catch(error => console.log(error));-->
<!--            });-->
<!--            fetch(`https://api.seatgeek.com/2/events?lat=${lat}&lon=${lng}&type=${type}&client_id=${clientId}`)-->
<!--                .then(response => response.json())-->
<!--                .then(data => {-->

<!--                    var events ='';-->
<!--                    var popularity = '';-->
<!--                    total = document.getElementById('total');-->
<!--                    total.innerHTML = `<h1>Total Events ${data.meta.total}</h1>`-->
<!--                    for(var i = 0; i < data.events.length; i++) {-->
<!--                        const date = new Date(data.events[i].datetime_local);-->
<!--                        const [year, month, day] = [date.getFullYear(), date.getMonth() + 1, date.getDate()];-->
<!--                        const dateString = 'm/d/year'+" "+`${month}/${day}/${year}`;-->
<!--                        events += `<h1 class='loopEvent'>${data.events[i].title}`+" "+`${data.events[i].venue.name}`+" "+`${data.events[i].venue.display_location}`+" Date: "+dateString+" Popularity "+ `${data.events[i].popularity}`+`<a href="#">Click</a></h1>`-->

<!--                    }-->
<!--                    for(var i = 0; i < 1; i++) {-->
<!--                        if(data.meta.total>=11){-->
<!--                            pages = document.getElementById('pages');-->
<!--                            let pagesCount = Math.ceil(data.meta.total/10);-->
<!--                            console.log(pagesCount);-->
<!--                            for(let i = 0; i < pagesCount; i++){-->
<!--                                pages.innerHTML += `<a href="#" onclick="page(${i})">`+" "+`${i+1}</a>`-->
<!--                            }-->
<!--                        }-->
<!--                        document.getElementById("eventTitle").innerHTML = events-->

<!--                    }}-->

<!--                )-->
<!--                .catch(error => console.log(error));-->
<!--        }-->
<!--        const upvote = document.getElementById('upvote');-->
<!--        const downvote = document.getElementById('downvote');-->

<!--        upvote.addEventListener('click', function() {-->


<!--            fetch(`https://api.seatgeek.com/2/events?lat=${lat}&lon=${long}&client_id=${clientId}`)-->
<!--                .then(response => response.json())-->
<!--                .then(data => {-->

<!--                    var events ='';-->
<!--                    total = document.getElementById('total');-->
<!--                    total.innerHTML = `<h1>Total Events ${data.meta.total}</h1>`-->
<!--                    for(var i = 0; i < data.events.length; i++) {-->
<!--                        const date = new Date(data.events[i].datetime_local);-->
<!--                        const [year, month, day] = [date.getFullYear(), date.getMonth() + 1, date.getDate()];-->
<!--                        const dateString = 'm/d/year'+" "+`${month}/${day}/${year}`;-->
<!--                        events += `<h1 class='loopEvent'>${data.events[i].title}`+" "+`${data.events[i].venue.name}`+" "+`${data.events[i].venue.display_location}`+" Date: "+dateString+" Popularity "+ `${data.events[i].popularity}`+`<a href="#">Click</a></h1>`-->

<!--                    }-->
<!--                    for(var i = 0; i < 1; i++) {-->
<!--                        if(data.meta.total>=11){-->
<!--                            pages = document.getElementById('pages');-->
<!--                            let pagesCount = Math.ceil(data.meta.total/10);-->
<!--                            console.log(pagesCount);-->
<!--                            for(let i = 0; i < pagesCount; i++){-->
<!--                                pages.innerHTML += `<a href="#" onclick="page(${i})">`+" "+`${i+1}</a>`-->
<!--                            }-->
<!--                        }-->
<!--                        document.getElementById("eventTitle").innerHTML = events-->
<!--                    }})-->
<!--                .catch(error => console.log(error));-->
<!--        });-->
<!--        downvote.addEventListener('click', function() {-->
<!--            fetch(`https://api.seatgeek.com/2/events?lat=${lat}&lon=${long}&client_id=${clientId}`)-->
<!--                .then(response => response.json())-->
<!--                .then(data => {-->

<!--                    var events ='';-->
<!--                    total = document.getElementById('total');-->
<!--                    total.innerHTML = `<h1>Total Events ${data.meta.total}</h1>`-->
<!--                    for(var i = 0; i < data.events.length; i++) {-->
<!--                        const date = new Date(data.events[i].datetime_local);-->
<!--                        const [year, month, day] = [date.getFullYear(), date.getMonth() + 1, date.getDate()];-->
<!--                        const dateString = 'm/d/year'+" "+`${month}/${day}/${year}`;-->
<!--                        events += `<h1 class='loopEvent'>${data.events[i].title}`+" "+`${data.events[i].venue.name}`+" "+`${data.events[i].venue.display_location}`+" Date: "+dateString+" Popularity "+ `${data.events[i].popularity}`+`<a href="#">Click</a></h1>`-->

<!--                    }-->
<!--                    for(var i = 0; i < 1; i++) {-->
<!--                        if(data.meta.total>=11){-->
<!--                            pages = document.getElementById('pages');-->
<!--                            let pagesCount = Math.ceil(data.meta.total/10);-->
<!--                            console.log(pagesCount);-->
<!--                            for(let i = 0; i < pagesCount; i++){-->
<!--                                pages.innerHTML += `<a href="#" onclick="page(${i})">`+" "+`${i+1}</a>`-->
<!--                            }-->
<!--                        }-->
<!--                        document.getElementById("eventTitle").innerHTML = events-->
<!--                    }})-->
<!--                .catch(error => console.log(error));-->
<!--        });-->
<!--        marker.on('dragend', onDragEnd);-->

<!--        fetch(`https://api.seatgeek.com/2/events?lat=${lat}&lon=${long}&type=comedy&client_id=${clientId}`)-->
<!--            .then(response => response.json())-->
<!--            .then(data => {-->
<!--                    console.log(data);-->
<!--                    var events ='';-->

<!--                    total = document.getElementById('total');-->
<!--                    total.innerHTML = `<h1 class='totalEvents '>Total Events ${data.meta.total}</h1>`-->
<!--                    for(var i = 0; i < data.events.length; i++) {-->
<!--                        const date = new Date(data.events[i].datetime_local);-->
<!--                        const [year, month, day] = [date.getFullYear(), date.getMonth() + 1, date.getDate()];-->
<!--                        const dateString = 'm/d/year'+" "+`${month}/${day}/${year}`;-->
<!--                        events += `<h1 class='loopEvent'>${data.events[i].title}`+" "+`${data.events[i].venue.name}`+" "+`${data.events[i].venue.display_location}`+" Date: "+dateString+" Popularity "+ `${data.events[i].popularity}`+`<a href="#">Click</a></h1>`-->
<!--                    }-->

<!--                    for(var i = 0; i < 1; i++) {-->
<!--                        if(data.meta.total>=11){-->
<!--                            pages = document.getElementById('pages');-->
<!--                            let pagesCount = Math.ceil(data.meta.total/10);-->
<!--                            console.log(pagesCount);-->
<!--                            for(let i = 0; i < pagesCount; i++){-->
<!--                                pages.innerHTML += `<a href="#" onclick="page(${i})">`+" "+`${i+1}</a>`-->
<!--                            }-->
<!--                        }-->


<!--                    }-->
<!--                    document.getElementById("eventTitle").innerHTML = events-->

<!--                }-->

<!--            )-->
<!--            .catch(error => console.log(error));-->

<!--    }-->
<!--    getLocation();-->


<!--    document.getElementById('search-btn').addEventListener('click', function (e){-->
<!--        e.preventDefault();-->
<!--        downvote.addEventListener('click', function() {-->
<!--            fetch(`https://api.seatgeek.com/2/events?q=${search}&type=${type}&range=${range}mi&client_id=${clientId}`)-->
<!--                .then(response => response.json())-->
<!--                .then(data => {-->

<!--                    var events ='';-->
<!--                    total = document.getElementById('total');-->
<!--                    total.innerHTML = `<h1>Total Events ${data.meta.total}</h1>`-->

<!--                    for(var i = 0; i < data.events.length; i++) {-->
<!--                        const date = new Date(data.events[i].datetime_local);-->
<!--                        const [year, month, day] = [date.getFullYear(), date.getMonth() + 1, date.getDate()];-->
<!--                        const dateString = 'm/d/year'+" "+`${month}/${day}/${year}`;-->
<!--                        events += `<h1 class='loopEvent'>${data.events[i].title}`+" "+`${data.events[i].venue.name}`+" "+`${data.events[i].venue.display_location}`+" Date: "+dateString+" Popularity "+ `${data.events[i].popularity}`+`<a href="#">Click</a></h1>`-->

<!--                    }-->
<!--                    for(var i = 0; i < 1; i++) {-->
<!--                        if(data.meta.total>=11){-->
<!--                            pages = document.getElementById('pages');-->
<!--                            let pagesCount = Math.ceil(data.meta.total/10);-->
<!--                            console.log(pagesCount);-->
<!--                            for(let i = 0; i < pagesCount; i++){-->
<!--                                pages.innerHTML += `<a href="#" onclick="page(${i})">`+" "+`${i+1}</a>`-->
<!--                            }-->
<!--                        }-->
<!--                        document.getElementById("eventTitle").innerHTML = events-->
<!--                    }})-->
<!--                .catch(error => console.log(error));-->
<!--        });-->
<!--        upvote.addEventListener('click', function() {-->
<!--            fetch(`https://api.seatgeek.com/2/events?q=${search}&type=${type}&range=${range}mi&client_id=${clientId}`)-->
<!--                .then(response => response.json())-->
<!--                .then(data => {-->

<!--                    var events ='';-->
<!--                    total = document.getElementById('total');-->
<!--                    total.innerHTML = `<h1>Total Events ${data.meta.total}</h1>`-->
<!--                    for(var i = 0; i < data.events.length; i++) {-->
<!--                        const date = new Date(data.events[i].datetime_local);-->
<!--                        const [year, month, day] = [date.getFullYear(), date.getMonth() + 1, date.getDate()];-->
<!--                        const dateString = 'm/d/year'+" "+`${month}/${day}/${year}`;-->
<!--                        events += `<h1 class='loopEvent'>${data.events[i].title}`+" "+`${data.events[i].venue.name}`+" "+`${data.events[i].venue.display_location}`+" Date: "+dateString+" Popularity "+ `${data.events[i].popularity}`+`<a href="#">Click</a></h1>`-->

<!--                    }-->
<!--                    for(var i = 0; i < 1; i++) {-->
<!--                        if(data.meta.total>=11){-->
<!--                            pages = document.getElementById('pages');-->
<!--                            let pagesCount = Math.ceil(data.meta.total/10);-->
<!--                            console.log(pagesCount);-->
<!--                            for(let i = 0; i < pagesCount; i++){-->
<!--                                pages.innerHTML += `<a href="#" onclick="page(${i})">`+" "+`${i+1}</a>`-->
<!--                            }-->
<!--                        }-->
<!--                        document.getElementById("eventTitle").innerHTML = events-->
<!--                    }})-->
<!--                .catch(error => console.log(error));-->
<!--        });-->
<!--        var type = document.getElementById("type").value-->
<!--        var search = document.getElementById("search").value-->
<!--        var range = document.getElementById("radius").value-->
<!--        fetch(`https://api.seatgeek.com/2/events?q=${search}&type=${type}&range=${range}mi&client_id=${clientId}`)-->
<!--            .then(response => response.json())-->
<!--            .then(data => {-->

<!--                var events ='';-->

<!--                total = document.getElementById('total');-->
<!--                total.innerHTML = `<h1>Total Events ${data.meta.total}</h1>`-->
<!--                for(var i = 0; i < data.events.length; i++) {-->
<!--                    const date = new Date(data.events[i].datetime_local);-->
<!--                    const [year, month, day] = [date.getFullYear(), date.getMonth() + 1, date.getDate()];-->
<!--                    const dateString = 'm/d/year'+" "+`${month}/${day}/${year}`;-->
<!--                    events += `<h1 class='loopEvent'>${data.events[i].title}`+" "+`${data.events[i].venue.name}`+" "+`${data.events[i].venue.display_location}`+" Date: "+dateString+" Popularity "+ `${data.events[i].popularity}`+`<a href="#">Click</a></h1>`-->
<!--                }-->
<!--                for(var i = 0; i < 1; i++) {-->
<!--                    if(data.meta.total>=11){-->
<!--                        pages = document.getElementById('pages');-->
<!--                        let pagesCount = Math.ceil(data.meta.total/10);-->
<!--                        console.log(pagesCount);-->
<!--                        for(let i = 0; i < pagesCount; i++){-->
<!--                            pages.innerHTML += `<a href="#" onclick="page(${i})">`+" "+`${i+1}</a>`-->
<!--                        }-->
<!--                    }-->
<!--                    document.getElementById("eventTitle").innerHTML = events-->
<!--                }})-->
<!--            .catch(error => console.log(error));-->
<!--    });</script>-->