<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:replace="partials/header :: header-links"></head>
<body style="text-align: center">

<div sec:authorize="!isAuthenticated()">
    <!--    This content is only shown to UNAUTHENTICATED users.-->
    <nav th:replace="partials/navbar :: navbar"></nav>
</div>

<div sec:authorize="isAuthenticated()">
    <!--    This content is only shown to AUTHENTICATED users.-->
    <nav th:replace="partials/navbar-logged-in :: navbar-logged-in"></nav>
</div>

<h1>Hey!  Check out all these cool parties!  Pick one!</h1>
<div class="card text-center mb-3" th:each="party : ${parties}">
    <div class="card-header">Party</div>
    <div class="card-body">
        <h5 class="card-title" th:text="${party.party_name}"></h5>
        <p class="card-text" th:text="${party.description}"></p>
        <a th:href="@{|/party/${party.id}|}" class="btn btn-primary">View Party Details</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
</div>

<div th:replace="partials/home-slice :: home-slice"></div>
</body>
</html>