<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head  th:replace="partials/header :: header-links"></head>
<title>Party!</title>
<body style="text-align: center">

<!--<div sec:authorize="!isAuthenticated()">-->
<!--    &lt;!&ndash;    This content is only shown to UNAUTHENTICATED users.&ndash;&gt;-->
<!--    <nav th:replace="partials/navbar :: navbar"></nav>-->
<!--</div>-->

<!--<div sec:authorize="isAuthenticated()">-->
<!--    &lt;!&ndash;    This content is only shown to AUTHENTICATED users.&ndash;&gt;-->
<!--    <nav th:replace="partials/navbar-logged-in :: navbar-logged-in"></nav>-->

<!--<div>-->
<!--    <div th:each="party : ${parties}">-->
    <p th:text="${name}"></p>
        <br/><br/>
<h1><em>SHAZAM!</em></h1>
    <h1>This is the only party you need to worry about</h1><br/>
    <br/>
    <br/>
    <br/>
    <h1>Description</h1>


<!--</div>-->
<!--</div>-->
</body>
</html>