<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:replace="partials/header :: header-links"></head>
<body style="text-align: center">

<div sec:authorize="!isAuthenticated()">
    <!--    This content is only shown to UNAUTHENTICATED users.-->
    <nav th:replace="partials/navbar :: navbar"></nav>
</div>

<div sec:authorize="isAuthenticated()">
    <!--    This content is only shown to AUTHENTICATED users.-->
    <nav th:replace="partials/navbar-logged-in :: navbar-logged-in"></nav>
</div>

<h1>Hey!  Check out all these cool parties!  Pick one!</h1>
<div class="container">
<!--    <a th:href="@{'/details/'+${user.login}(orderId=${o.id})}">view</a>-->
    <div th:each="party : ${parties}">
        <p><a th:text="${party.party_name}" th:href="@{'/party-select/'+ ${party.party_id}}"></a></p><br/>
<!--            th:name="${party.party_name}-->
    </div>
</div>
    <br/>
    <br/>
    <br/>
    <h1 th:href="@{/party-form}">Create a Party</h1>
<!--</div>-->

<div th:replace="partials/scripts :: scripts"></div>
</body>
</html>