<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
</head>
<body>

<!--comment section from-->

<!--https://mdbootstrap.com/docs/standard/extended/comments/-->

    <div th:fragment="party-comments" class="d-flex row">
        <section class="gradient-custom media col-7">
            <div class="row d-flex justify-content-left">

                <div class="card">
                    <div class="card-body p-4">
                    <h4 class="text-center mb-4 pb-2">Nested comments section</h4>

                        <div class="row">
                            <div class="col">
                                <div class="d-flex flex-start">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar" width="65"
                                         height="65" />
                                    <div class="flex-grow-1 flex-shrink-1">
                                        <div>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <p class="mb-1">
                                                    Maria Smantha <span class="small">- 2 hours ago</span>
                                                </p>
                                                <a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small"> reply</span></a>
                                            </div>
                                            <p class="small mb-0">
                                                It is a long established fact that a reader will be distracted by
                                                the readable content of a page.
                                            </p>
                                            </div>

                                            <div class="d-flex flex-start mt-4">
                                                <a class="me-3" href="#">
                                                    <img class="rounded-circle shadow-1-strong"
                                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(11).webp" alt="avatar"
                                                         width="65" height="65" />
                                                </a>
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    <div>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-1">
                                                                Simona Disa <span class="small">- 3 hours ago</span>
                                                            </p>
                                                        </div>
                                                        <p class="small mb-0">
                                                            letters, as opposed to using 'Content here, content here',
                                                            making it look like readable English.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-start mt-4">
                                                <a class="me-3" href="#">
                                                    <img class="rounded-circle shadow-1-strong"
                                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                                                         width="65" height="65" />
                                                </a>
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    <div>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-1">
                                                                John Smith <span class="small">- 4 hours ago</span>
                                                            </p>
                                                        </div>
                                                        <p class="small mb-0">
                                                            the majority have suffered alteration in some form, by
                                                            injected humour, or randomised words.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-start mt-4">
                                        <img class="rounded-circle shadow-1-strong me-3"
                                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(12).webp" alt="avatar" width="65"
                                             height="65" />
                                        <div class="flex-grow-1 flex-shrink-1">
                                            <div>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p class="mb-1">
                                                        Natalie Smith <span class="small">- 2 hours ago</span>
                                                    </p>
                                                    <a href="#!"><i class="fas fa-reply fa-xs"></i><span class="small"> reply</span></a>
                                                </div>
                                                <p class="small mb-0">
                                                    The standard chunk of Lorem Ipsum used since the 1500s is
                                                    reproduced below for those interested. Sections 1.10.32 and
                                                    1.10.33.
                                                </p>
                                            </div>

                                            <div class="d-flex flex-start mt-4">
                                                <a class="me-3" href="#">
                                                    <img class="rounded-circle shadow-1-strong"
                                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp" alt="avatar"
                                                         width="65" height="65" />
                                                </a>
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    <div>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-1">
                                                                Lisa Cudrow <span class="small">- 4 hours ago</span>
                                                            </p>
                                                        </div>
                                                        <p class="small mb-0">
                                                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus
                                                            scelerisque ante sollicitudin commodo. Cras purus odio,
                                                            vestibulum in vulputate at, tempus viverra turpis.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-start mt-4">
                                                <a class="me-3" href="#">
                                                    <img class="rounded-circle shadow-1-strong"
                                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(29).webp" alt="avatar"
                                                         width="65" height="65" />
                                                </a>
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    <div>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-1">
                                                                Maggie McLoan <span class="small">- 5 hours ago</span>
                                                            </p>
                                                        </div>
                                                        <p class="small mb-0">
                                                            a Latin professor at Hampden-Sydney College in Virginia,
                                                            looked up one of the more obscure Latin words, consectetur
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex flex-start mt-4">
                                                <a class="me-3" href="#">
                                                    <img class="rounded-circle shadow-1-strong"
                                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar"
                                                         width="65" height="65" />
                                                </a>
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    <div>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-1">
                                                                John Smith <span class="small">- 6 hours ago</span>
                                                            </p>
                                                        </div>
                                                        <p class="small mb-0">
                                                            Autem, totam debitis suscipit saepe sapiente magnam officiis
                                                            quaerat necessitatibus odio assumenda, perferendis quae iusto
                                                            labore laboriosam minima numquam impedit quam dolorem!
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section style="background-color: #d94125;" class="col-5">
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body p-4">
                                <div class="d-flex flex-start w-100">
                                    <img class="rounded-circle shadow-1-strong me-3"
                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="65"
                                         height="65" />
                                    <div class="w-100">
                                        <h5>Add a comment</h5>
                                        <ul class="rating mb-3" data-mdb-toggle="rating">
                                            <li>
                                                <i class="far fa-star fa-sm text-danger" title="Bad"></i>
                                            </li>
                                            <li>
                                                <i class="far fa-star fa-sm text-danger" title="Poor"></i>
                                            </li>
                                            <li>
                                                <i class="far fa-star fa-sm text-danger" title="OK"></i>
                                            </li>
                                            <li>
                                                <i class="far fa-star fa-sm text-danger" title="Good"></i>
                                            </li>
                                            <li>
                                                <i class="far fa-star fa-sm text-danger" title="Excellent"></i>
                                            </li>
                                        </ul>
                                        <div class="form-outline">
                                            <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                                            <label class="form-label" for="textAreaExample">What is your view?</label>
                                        </div>
                                        <div class="d-flex justify-content-between mt-3">
                                            <button type="button" class="btn btn-success">Danger</button>
                                            <button type="button" class="btn btn-danger">
                                                Send <i class="fas fa-long-arrow-alt-right ms-1"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </div>
</body>
</html>