@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Form validation errors */
.errors {
    color: red;
}

/* Footer CSS */
footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #ededed;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer {
    padding: 40px 0;
    background-color: #ffffff;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

.fa-google {
    color: #eb5e34;
}

.fa-linkedin-in {
    color: #3b5999;
}

.fa-github-square {
    color: #000000;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
}

.fa-google:hover, .fa-linkedin-in:hover, .fa-github-square:hover {
    color: #45e19f;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    color: #015A06;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #aaa;
}