
:root{
    --main-bg-color: rgb(50, 98, 115);
    --main-text-color: rgb(255, 255, 255);
    --sec-bg-color: rgb(92, 158, 173);
    --sec-text-color: rgb(237, 17, 17);
    --btn: rgb(22, 152, 227);
    --accent: rgb(137, 137, 137);
    --accent-sec: rgba(248, 6, 6, 0.489);
    --accent-third: aqua;
    
}
body{
    background-color: var(--accent);
}
.container{
    background-color: var(--main-bg-color);
    border-radius: 30px;
    padding-bottom: 0.5em;
}
.eventsContainer{
    background-color: var(--main-bg-color);
    
}
.loopEvent{
    border: 2px solid red;
    border-radius: 30px;
    margin: 1.2em;
    padding: 1.2em;
    box-shadow: 0 0 10px 10px var(--accent);
    font-family: Righteous;
}
.loopEvent:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 20px 20px var(--accent-sec);
    transition: 1.5s;

}
.pages{
    background-color: var(--main-bg-color);
}
h1{
    color: var(--main-text-color)
}
.searchParams{
    color: var(--main-text-color);
    font-family: 'Chakra Petch', sans-serif;;
}
.inputBoxes{
    color: var(--accent-third);
    background-color: var(--accent);
}
.dropdown{
    color: var(--accent-third);
    background-color: var(--accent);
}
.btn{
    background-color: var(--btn);
    box-shadow: 0 1px var(--accent);
    background-color: rgb(66, 65, 65);
    color: var(--accent-third);
}
.btn:hover{
    transform: translateY(-.2em);
    box-shadow: 0 3px var(--accent);
    color: var(--accent-third);
}
.btn:active{
    box-shadow: 0 2px var(--accent);
    transform: translateY(2px);  
}
.totalEvents{
    color: var(--sec-text-color);
    border-bottom: 3px solid var(--accent);
    text-align: center;
}
.mapLabel{
    color: var(--sec-text-color);
    font-size: 2em;
}
#map{
    border-radius: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.popMeaning{
    text-align: center;
}