@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* Flex */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

/* Logo */
.logo {
    margin: 2rem;
    width: 225px;
}

/* Primary header */
header {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: hsl(123, 98%, 18%);
}

@supports (backdrop-filter: blur(2rem)) {
    .primary-navigation {
        background: hsl(123, 98%, 18%);
        backdrop-filter: blur(2rem);
    }
}

.primary-navigation a {
    text-decoration: none;
    color: white;
}

.primary-navigation a > span {
    font-weight: 700;
    margin-inline-end: 0.75em;
}

.primary-navigation a:hover {
    text-decoration: underline;
    color: white;
}

/* Logout Button */
.logout-btn {
    font-size: 100%;
    border: 0;
    padding: 0;
}

.logout-btn:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 45em) {
    .primary-navigation {
        --gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        background-size: cover;
        display: block;
        position: absolute;
        z-index: 9999;
        background-color: transparent;
        background-image: url("https://img.icons8.com/ios-filled/3x/menu.png");
        background-repeat: no-repeat;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    .mobile-nav-toggle[aria-expaned="true"] {
        background-size: cover;
        background-image: url("https://img.icons8.com/fluency-systems-filled/2x/delete-sign.png");
    }
}

@media (min-width: 45em) and (max-width: 55em) {
    .primary-navigation a > span[aria-hidden] {
        display: none;
    }
}

@media (min-width: 45em) {
    .primary-navigation {
        --gap: clamp(1.5rem, 5vw, 3rem);
        padding-block: 1rem;
        padding-inline: clamp(3rem, 8vw, 10rem);
    }
}