@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.profile-img {
    margin-top: 60px;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    z-index: 999;
    border: 1rem solid #015A06;
    margin-bottom: 80px;
}

/*.btn{*/
/*    background-color: var(--shadow);*/
/*    box-shadow: 0 1px var(--accent);*/

/*}*/

/*.btn:hover{*/
/*    transform: translateY(-.2em);*/
/*    box-shadow: 0 3px var(--accent);*/

/*}*/

/*.btn:active{*/
/*    box-shadow: 0 2px var(--accent);*/
/*    transform: translateY(2px);*/
/*}*/